*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.main-content {
	/*border: 2px solid red;*/
	height: 100vh;
	width: 100vw;
	position: relative;
	display: flex;
}

#bgVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	display: flex;
}

.main-1 {
/*	border: 1px solid black;*/
	height: 99.5vh;
	width: 5vw;
}

.main-2 {
	/*border: 1px solid black;*/
	height: 99.5vh;
	width: 95vw;
}

.subMain-1 {
	/*border: 1px solid salmon;*/
	height: 80vh;
	width: 94.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subMain-2 {
	/*border: 1px solid salmon;*/
	height: 19vh;
	width: 94.5vw
}

.mainPic {
	/*border: 2px solid whitesmoke;*/
	height: 70vh;
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subPic-1 {
	border: 1px solid indigo;
	position: absolute;
	margin-top: 0;
	margin-left: -420px;
	border-radius: 10%;
}

#subImg-One {
	height: 300px;
	width: 410px;
	position: absolute;
	border-radius: 10%;
	z-index: 10;
}

.oldBrick-box {
	height: 300px;
	width: 410px;
	background: rgba(150, 40, 27, .3);
	position: relative;
	border-radius: 10%;
	z-index: 20;
}

.subPic-1:hover, .oldBrick-box:hover, #subImg-One:hover {
	background: rgba(238, 238, 238, .1);
	z-index: 100;
	-webkit-box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
-moz-box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
}

.subPic-2 {
	border: 1px solid indigo;
	position: absolute;
	margin-top: 0;
	margin-left: -40px;
	border-radius: 10%;
	perspective: 1000;
	-webkit-box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
-moz-box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
}

#subImg-Two {
	height: 350px;
	width: 430px;
	position: absolute;
	z-index: 30;
	border-radius: 10%;
	perspective: 1000;
	-webkit-box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
-moz-box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
}

.chestnutRose-box {
	height: 350px;
	width: 430px;
	background: rgba(210, 77, 87, .4);
	position: relative;
	border-radius: 10%;
	z-index: 50;
	perspective: 1000;
	-webkit-box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
-moz-box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
box-shadow: 0px 1px 7px 0px rgba(41,4,41,1);
}

.subPic-2:hover, .chestnutRose-box:hover, #subImg-Two:hover {
	background: rgba(238, 238, 238, .1);
	z-index: 200;
	-webkit-box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
-moz-box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
}

.subPic-3 {
	border: 1px solid indigo;
	position: absolute;
	margin-top: 0;
	margin-left: 350px;
	border-radius: 10%;

}

#subImg-Three {
	height: 300px;
	width: 410px;
	position: absolute;
	z-index: 10;
	border-radius: 10%;
}

.tallPoppy-box {
	height: 300px;
	width: 410px;
	background: rgba(192, 57, 43, .3);
	position: relative;
	border-radius: 10%;
	z-index: 20;
}

.subPic-3:hover, .tallPoppy-box:hover, #subImg-Three:hover {
	background: rgba(238, 238, 238, .1);
	z-index: 100;
	-webkit-box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
-moz-box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
box-shadow: 0px 1px 13px 6px rgba(247,244,247,1);
}

.flipBox {
	background-color: transparent;
	width: 20%;
	height: 45%;
	/*border: 1px solid #f1f1f1;*/
	border-radius: 50%;
	perspective: 1000;
	position: absolute;
	margin-top: 135px;
	margin-left: -50px;
	z-index: 150;
	overflow: hidden;
	perspective: 1000;
}

.innerBox {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transform-style: preserve-3d; 
}

.flipBox:hover .innerBox {
	transform: rotateY(180deg);
}

.flipBox-front, .flipBox-Back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: visible;
}

.flipBox-front { /*fallback only*/
	background-color: #f1f1f1;
	color: red;
	border-radius: 50%;
}

.flipBox-Back {
	background-color: whitesmoke;
	color: white;
	transform: rotateY(180deg);
	border-radius: 50%;
}

.flipBox-front > img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.flipBox-Back > img {
	width: 100%;
	height: 100%;
	border-radius: 50%;	
}

h1 {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	color: whitesmoke;
	position: absolute;
	margin-left: 487px;
	margin-top: 30px;
	perspective: 1000;
}

.subMain-2 > p {
	font-family: 'Signika', sans-serif;
	font-size: 20px;
	color: whitesmoke;
	position: absolute;
	margin-left: 466px;
	margin-top: 70px;
	perspective: 1000;
}

.subContent {
	/*border: 2px solid pink;*/
	height: 100vh;
	width: 100vw;
	position: relative;
}

#aboutMe {
	position: absolute;
	top: 50px;
	margin-left: 550px;

}

.aboutContainer-1 {
	/*border: 1px solid whitesmoke;*/
	width: 70vw;
	position: absolute;
	top: 130px;
	left: 200px;
	display: flex;
}

.aboutContainer-1 > img {
	height: 23vh;
	width: 20vw;
	border-radius: 10px;
	perspective: 1000;
}

.aboutContainer-1 > p {
	padding: 1vh 2vw 1vh 2vw; 
	font-family: 'Lobster Two', cursive;
	font-size: 13px;
	color: black;
	border-radius: 10px;
	border: 1px solid #C0C0C0;
	background-color: rgba(255,255,255, .8);
	height: 23vh;
	width: 40vw;
	margin-left: 180px;
	text-align: justify;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutContainer-2 {
	/*border: 1px solid whitesmoke;*/
	width: 70vw;
	height: 23vh;
	position: absolute;
	top: 320px;
	left: 200px;
	display: flex;
}

.aboutContainer-2 > img {
	height: 23vh;
	width: 20vw;
	border-radius: 10px;
	perspective: 1000;
	position: absolute;
	right: 10px;
	/*margin-top: 5px;*/
}

.aboutContainer-2 > p {
	padding: 1vh 2vw 1vh 2vw; 
	font-family: 'Lobster Two', cursive;
	font-size: 13px;
	color: black;
	border-radius: 10px;
	border: 1px solid #C0C0C0;
	background-color: rgba(255,255,255, .8);
	height: 15vh;
	width: 40vw;
	margin-top: 20px;
	/*margin-left: 1px;*/
	text-align: justify;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutContainer-3 {
	/*border: 1px solid whitesmoke;*/
	width: 70vw;
	position: absolute;
	top: 510px;
	left: 200px;
	display: flex;
}

.aboutContainer-3 > img {
	height: 23vh;
	width: 20vw;
	border-radius: 10px;
	perspective: 1000;
}

.aboutContainer-3 > p {
	padding: 1vh 2vw 1vh 2vw; 
	font-family: 'Lobster Two', cursive;
	font-size: 13px;
	color: black;
	border-radius: 10px;
	border: 1px solid #C0C0C0;
	background-color: rgba(255,255,255, .8);
	height: 23vh;
	width: 40vw;
	margin-left: 180px;
	text-align: justify;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projectTitle {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	color: whitesmoke;
	position: absolute;
	margin-left: 50px;
	top: -100px;
	perspective: 1000;
}

#cap-projects {
	height: 70vh;
	width: 90vw;
	margin-left: 60px;
	margin-top: 200px;
	/*border: 2px solid whitesmoke;*/
	display: flex;
}

#imgCaps-1 {
	height: 300px;
	width: 350px;
	border-radius: 10px;
	position: absolute;
	margin-top: 100px;
	margin-left: 190px;
	perspective: 1000;
	-webkit-transform: rotate(10deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);

}

#imgCaps-2 {
	height: 300px;
	width: 350px;
	border-radius: 10px;
	z-index: 10;
	position: absolute;
	margin-top: 70px;
	margin-left: 400px;
	perspective: 1000;
	-webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-102deg);

}

#imgCaps-3 {
	height: 300px;
	width: 350px;
	border-radius: 10px;
	z-index: 12;
	position: absolute;
	margin-top: 130px;
	margin-left: 570px;
	-webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
}

#imgCaps-1:hover, #imgCaps-2:hover, #imgCaps-3:hover {
	-webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 20;

} 